body {
    background-color: #feffdf;
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    background-color: #ffe79a;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.image-grid {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.image {
    background-color: #eee;
    width: 100%;
    padding-top: 100%; /* Maintains a square aspect ratio for each image div */
}

.generate-button {
    background-color: #ef5a5a;
    color: #feffdf;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #ffe79a;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0 auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ef5a5a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ef5a5a;
  cursor: pointer;
}

.wrapper {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}